service: vlan-flask
app: vlan
org: ryphon

provider:
  name: aws
  runtime: python3.8
  memorySize: 256
  stage: prod
  region: us-west-2
  iam:
    role: arn:aws:iam::456410706824:role/vlan-flask-sls

package:
  exclude:
    - node_modules/**
    - .git/**

functions:
  app:
    handler: wsgi_handler.handler
    memorySize: 256
    events:
      - http: ANY /
        cors: true
      - http: 'ANY {proxy+}'
        cors: true

custom:
  wsgi:
    app: app.app
    pythonBin: python3
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
  customDomain:
    domainName: api.itisamystery.com
    stage: prod
    certificateName: '*.itisamystery.com'
    createRoute53Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2
    apiType: rest

plugins:
  - serverless-wsgi
  - serverless-python-requirements
  - serverless-domain-manager
