service: vlan-flask
app: vlan
org: ryphon

provider:
  name: aws
  runtime: python3.7
  stage: dev
  region: us-west-2
  iamRoleStatements:
  - Effect: Allow
    Action: ["autoscaling:SetDesiredCapacity", "autoscaling:DescribeAutoScalingGroups"]
    Resource: ["arn:aws:autoscaling:us-west-2:456410706824:autoScalingGroup:0c327aee-2787-4641-ba74-82c23e6dee74:autoScalingGroupName/gmod-ttt", "arn:aws:autoscaling:us-west-2:456410706824:autoScalingGroup:fed68226-be0d-493d-b5e1-13ff9211c116:autoScalingGroupName/gmod-hdn"]
  - Effect: Allow
    Action: "autoscaling:DescribeAutoScalingGroups"
    Resource: "*"

package:
  exclude:
    - node_modules/**
    - .git/**

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'

custom:
  wsgi:
    app: app.app
    pythonBin: python3
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
  customDomain:
    domainName: api.itisamystery.com
    stage: dev
    certificateName: '*.itisamystery.com'
    createRoute53Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2
    apiType: rest

plugins:
  - serverless-wsgi
  - serverless-python-requirements
  - serverless-domain-manager
